<h2 class="heading">日報登録</h2>

<%= form_with model: @daily_report, url: admin_daily_reports_path, loclal: false do |f| %>
  <table class="table">
    <tr>
      <th class="table__item">画像</th>
      <td class="table__item"><%= f.file_field :daily_report_images %></td>
    </tr>
    <tr>
      <th class="table__item">従業員名</th>
      <td class="table__item"><%= f.collection_select :end_user_id, EndUser.all, :id, :name %></td>
    </tr>
    <tr>
      <th class="table__item">業者名</th>
      <td class="table__form"><%= f.collection_select :company_id, Company.all, :id, :company_name %></td>
    </tr>
    <tr>
      <th class="table__item">現場名</th>
      <td class="table__item"><%= f.collection_select :construction_id, Construction.all, :id, :construction_name %></td>
    </tr>
  </table>

  <div class="btn">
    <%= f.submit "登録", class: "btn__green" %>
  </div>
<% end %>