<h2 class="heading">管理者ログイン</h2>

<%= form_with model: @admin, url: admin_session_path do |f| %>

  <table class="table">
    <tr>
      <th class="table__label"><%= f.label :名前 %></th>
      <td class="table__form"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th class="table__label"><%= f.label :パスワード %></th>
      <td class="table__form"><%= f.password_field :password %></td>
    </tr>
  </table>

  <div class="btn">
    <%= f.submit "ログイン", class: "btn__green" %>
  </div>
<% end %>

<div>
  <%= link_to "従業員ログイン画面", new_end_user_session_path %>
</div>