<div class="work_schedules">
  <h2 class="heading">勤務表</h2>
  <div class="work_schedules__heading">
    <%= @work_schedule.date.to_s[0..3] + "年" + @work_schedule.date.to_s[4..5] + "月" %>:<%= @work_schedule.end_user.name %>
  </div>

  <table class="work_schedules__table">
    <tr>
      <th class="work_schedules__table--heading">日</th>
      <th class="work_schedules__table--heading">曜日</th>
      <th class="work_schedules__table--heading">備考</th>
      <th class="work_schedules__table--heading">業者名</th>
      <th class="work_schedules__table--heading">現場</th>
    </tr>
    <% @dates.each do |date| %>
    <tr>
      <td class="work_schedules__table--item"><%= date.strftime("%d") %></td>
      <td class="work_schedules__table--item">
        <% case  date.strftime("%w") %>
          <% when "0" then %>
            （日）
          <% when "1" then %>
            （月）
          <% when "2" then %>
            （火）
          <% when "3" then %>
            （水）
          <% when "4" then %>
            （木）
          <% when "5" then %>
            （金）
          <% when "6" then %>
            （土）
        <% end %>
      </td>
      <td class="work_schedules__table--item">
        <% @daily_reports.each do |daily_report| %>
          <% if daily_report.date == date %>
            <%= "夜勤" if daily_report.night_shift == true %>
          <% end %>
        <% end %>
      </td>
      <td class="work_schedules__table--item">
        <% @daily_reports.each do |daily_report| %>
         <% if daily_report.date == date %>
           <%= daily_report.company.company_name %>
         <% end %>
       <% end %>
      </td>
      <td class="work_schedules__table--item">
        <% @daily_reports.each do |daily_report| %>
         <% if daily_report.date == date %>
           <%= daily_report.construction.construction_name %>
         <% end %>
       <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <div class="work_schedules__note">
    勤務日数：<%= @daily_reports.count %>日
    (夜勤日数：<%= @daily_reports.where(night_shift: true).count %>日)
  </div>
</div>