<h2 class="heading">社員登録</h2>

<%= form_with model:@end_user, url:end_user_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <table class="table">
    <tr>
      <th class="table__label"><%= f.label :名前 %></th>
      <td class="table__form"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th class="table__label"><%= f.label :email %></th>
      <td class="table__form"><%= f.email_field :email, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th class="table__label">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </th>
      <td class="table__form">
        <%= f.password_field :password, class: "table__form--field" %>
      </td>
    </tr>
    <tr>
      <th class="table__label">
        <%= f.label :パスワード %>（確認）
      </th>
      <td class="table__form">
        <%= f.password_field :password_confirmation, class: "table__form--field" %>
      </td>
    </tr>
  </table>
  
  <div class="btn">
    <%= f.submit "登録", class: "btn__green" %>
  </div>
  
<% end %>
